.logoWrapper {
  height: 5rem;
}

.logo {
  width: 50%;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.cardInfoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width: 640px) {
    flex-direction: column;
    align-items: center;
  }
}

.time {
  font-size: xx-large;
}

.date {
  opacity: 0.5;
}

.stops {
  width: 30%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  opacity: 0.5;

  @media screen and (max-width: 640px) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.arrow {
  font-size: 5rem;
  opacity: 0.5;
}

.button {
  width: 100%;
}
